<form action="lib/upload_functions.php" method="post" enctype="multipart/form-data">
    <input type="hidden" id="formname" name="formname" value="file_upload">

    <div class="form-group">
        <h3>Select images to upload</h3>
        <input class="uploadbutton form-control-file" type="file" name="uploadfoto" id="file1">
        <input class="uploadbutton form-control-file" type="file" name="uploadfoto" id="file2">
        <input type="submit" value="Opladen" name="submit">
    </div>
</form>